<html>

  <body>
    <div class="'container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="assets/img/logofgtb.png" class="align"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        
          
          Recherche d'un membre par son nom et prénom <br>
      </div>
    </div>
    <form #searchForm="ngForm">
      <div class="row">
        <div class="col-md-2 text-center"></div>
        <div class="col-md-1 text-center">Nom:</div>
        <div class="col-md-2 text-center">
          <input type="text" [(ngModel)]="lastname" name="lastname" class="form-control">
        </div>  
        <div class="col-md-1 text-center">Prenom:</div>
        <div class="col-md-2 text-center">
          <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control">
        </div>
        <div class="col-md-2 text-center">
            <button type="button" (click)="onChangeMember();" class="btn btn-success">Charger membre</button>
        </div>
        <div class="col-md-2 text-center"></div>

      </div>
    </form>
       
    
    <form #formulaire="ngForm"> 
      <div *ngIf="member.nom" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 border">
          <ul>
            <li>
              Membre ID : {{member.id}}
            </li>
            <li>
              Nom : {{member.nom}}
            </li>
            <li>
              Prenom : {{member.prenom}}
            </li>
            <li>
              Téléphone  : <input type="text" [maxLength]="14" [(ngModel)]="member.telephone" (keyup)="onChangePhone();" name="phone" class="form-control" pattern= "([0-9]|\\/)*"> 
            </li>
          </ul>
          
          <button type="button" class="btn btn-success" (click)="onSave()">Enregistrer</button>
          
        </div>
        <div class="col-md-4 border text-center">
          <img src="assets/img/homme.jpg" width="150px"/>
        </div>
        <div class="col-md-2"></div>
      </div>
      
      <div *ngIf="!member.nom" class="row error">
        <div class=" col-md-12 text-center">
          Membre introuvable
        </div>
      </div>
    </form>    
    <router-outlet></router-outlet>
  </body>
</html>