<html>

  <body>
    <div class="'container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="assets/img/logofgtb.png" class="align"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        Membre
      </div>
    </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 border">
          <ul>
            <li>
              Membre ID : {{member.id}}
            </li>
            <li>
              Nom : {{member.nom}}
            </li>
            <li>
              Prenom : {{member.prenom}}
            </li>
            <li>
              Téléphone : <input type="text" class="form-control" maxlength="14" pattern= "([0-9]|\\/)*" value="{{member.telephone}}"> 
            </li>
          </ul>
          
          <button type="button" class="btn btn-success" (click)="onSave()">Enregistrer</button>
          
        </div>
        <div class="col-md-4 border text-center">
          <img src="assets/img/homme.jpg" width="150px"/>
        </div>
        <div class="col-md-2"></div>
      </div>
    <router-outlet></router-outlet>
  </body>
</html>